{% extends "base.html" %}

{% block title %}
<title>Python社区-酷站</title>
<meta name="keywords" content="Python公司,Python团队,Python名人堂,Python博客,Python国外企业团队" />
<meta name="description" content="与Python相关的公司,名人,团队和博客" />
{% endblock %}

{% block main-content %}
  {% for kind in sites %}
    <div class="topics panel panel-default">
      <div class="panel-heading clearfix">
          {{ kind.0.1 }}
      </div>

      <div class="panel-body">
        {% for item in kind.1 %}
          <div class="col-md-2 site">
            <img class="favicon" src="http://www.google.com/profiles/c/favicons?domain={{ item.url }}" alt="">
          <a target="_blank" rel="nofollow" title="{{ item.abstract }}" href="{{ item.url }}">{{ item.name }}</a>
        </div>
        {% endfor %}
      </div>


    </div>
  {% endfor %}

{% endblock %}