{% extends "base.html" %}
{% load util %}
{% block main-content %}
<div class="row">
  <div class="col-md-9">

    <div class="topics panel panel-default">
      <div class="panel-heading clearfix">
        <div class="node-info">
          <div class="name">
            <strong>{{ node.name }}</strong>
          </div>
          <div class="summary">
            <p>{{ node.desc }}</p>

          </div>
        </div>
      </div>

      <div class="panel-body">
        {% for item in topics %}
        <div class="topic media">
          <div class="avatar media-left">
            <img class="media-object avatar-48" src="{{ item.avatar | default:'http://jbcdn2.b0.upaiyun.com/2012/02/python-logo.png' }}" alt="">
          </div>
          <div class="infos media-body">
            <div class="title media-heading">
              {% if item.url %}
              <a target="_blank" href="{{ item.url }}">{{ item.title }}</a>
              {% else %}
              <a href="{% url 'topics.topic_detail' item.id %}">{{ item.title }}</a>
              {% endif %}
            </div>
            <div class="info">
              {% if item.node %}
              <a class="node" href="{% url 'topics.node_list' item.node.id %}">{{ item.node.name }}</a>
              •
              {% endif %}
                {% if item.user %}
                  <span><a href="{% url 'users.user' item.user.name %}">{{ item.user.name }}</a></span>
                {% else %}
                  <span>{{ item.author }}</span>
                {% endif %}
              •
              <span>发布于{{ item.publish_time | readable_datetime }}</span>
            </div>
          </div>
          <div class="count media-right">
              <a class="state-false" href=""></a>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="panel-footer clearfix">
        {% load paginator %}{% paginator topics %}
      </div>

    </div><!--.topics-->

  </div><!--.col-md-9-->

  <div class="sidebar col-md-3">
  {% include "right_side.html" %}
  </div><!--.sidebar .col-md-3-->

</div><!--.row-->
{% endblock %}