{% extends "base.html" %}
{% load staticfiles %}
{% load compress %}
{% load util %}
{% load paginator %}

{% block title %}
<title>PySpace</title>
<meta name="keywords" content="Python,Web开发,django,flask,程序员,投资,房产,宅男,美女图片" />
<meta name="description" content="程序员聚集地,程序员感兴趣的话题都在这里" />
{% endblock %}

{% block main-content %}
<div class="row">
  <div class="col-md-9">

    <div id="sections" class="panel panel-default">
        <div class="panel-heading">节点导航
            <i class="fa close pull-right panel-toggle-icon"></i>
        </div>
      <div class="panel-body panel-toggle-close">
        <div class="row node-list">
          {% for section in sections %}
          <div class="node media">
            <label class="media-left">{{ section.name }}</label>
            <span class="nodes media-body">
                  {% for node in section.nodes %}
                  <span class="name"><a title="{{ node.name }}" href="{% url 'topics.node_list' node.id %}">{{ node.name }}</a></span>
                  {% endfor %}
            </span>
          </div>
          {% endfor %}
        </div>
      </div>
    </div><!--#sections-->

    <div class="topics panel panel-default">
      <div class="panel-heading clearfix">
          最新文章
      </div>

      <div class="panel-body">
        {% include "topics/topic_item.html" with topics=topics %}
      </div>

      <div class="panel-footer clearfix">
        {% paginator topics %}
      </div>

    </div><!--.topics-->

  </div><!--.col-md-9-->

  <div class="sidebar col-md-3">
  {% include "right_side.html" %}
  </div><!--.sidebar .col-md-3-->

</div><!--.row-->
{% endblock %}

{% block footer-js %}
{% compress js %}

<!-- 移动手势 -->
<script src="{% static 'hammer/hammer.min.js' %}"></script>
{% endcompress %}
<script>
$(document).ready(function() {
  // 移动手势
  var myElement = document.getElementsByTagName('body')[0];
  var hammertime = new Hammer(myElement);
  hammertime.on('swiperight', function(ev) {
    {% if topics.has_previous %}
      window.location.href = '{{ params|update_page:topics.previous_page_number|gen_get_params }}';
    {% endif %}
  });
  hammertime.on('swipeleft', function(ev) {
    {% if topics.has_next %}
      window.location.href = '{{ params|update_page:topics.next_page_number|gen_get_params }}';
    {% endif %}
  });
  // 隐藏node
  $('.panel-toggle-icon').click(function() {
      var $icon = $(this);
      var isOpen = $icon.hasClass('open');
      var $panelBody = $icon.parents('.panel').children('.panel-body');
      if(isOpen){
        $icon.removeClass('open').addClass('close');
        $panelBody.slideUp();
      } else {
        $icon.removeClass('close').addClass('open');
        $panelBody.slideDown();
      }

  });
});
</script>


{% endblock %}
