{% extends "base.html" %}
{% load staticfiles %}
{% load compress %}
{% block header_css %}
<link href="{% static 'bootstrap-select/css/bootstrap-select.css' %}" rel="stylesheet">
{% endblock %}

{% block main-content %}
  <div class="panel panel-default">
    <div class="panel-heading">{% if form.title.value %}编辑{% else %}发布新{% endif %}话题</div>
    <div class="panel-body">
      <form method="post" class="simple_form">
        {% csrf_token %}
        <div class="form-group">
          <div class="input-group">
            <span class="node-select input-group-btn">
              <select name="node" class="selectpicker show-menu-arrow" data-live-search="true" data-width="140px" title="选择节点" >
                {% for section in sections %}
                <optgroup label="{{ section.name }}">
                  {% for node in section.nodes %}
                  <option value="{{ node.id }}" {% if form.node.value == node.id %} selected="selected"{% endif %}>{{ node.name }}</option>
                  {% endfor %}
                </optgroup>
                {% endfor %}
              </select>
            </span>
            <input name="title" value="{{ form.title.value }}" class="form-control" type="text" placeholder="在这里填写标题" style="margin-left: 2%;width: 98%;">
          </div>
        </div>
        <div class="form-group">
          {{ form.content }}
        </div>
        <div class="form-group">
          <input class="btn btn-primary" style="padding-left: 60px;padding-right: 60px;" type="submit" value="保存">
        </div>

      </form>
    </div>
  </div>
{% endblock %}

{% block footer-js %}
{% compress js %}
<script src="{% static 'bootstrap-select/js/bootstrap-select.js' %}"></script>
<script src="{% static 'bootstrap-select/js/i18n/defaults-zh_CN.js' %}"></script>
<!-- jQuery Validation -->
<script src="{% static 'jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'jquery-validation/localization/messages_zh.min.js' %}"></script>
<script src="{% static 'web/js/jquery-bootstrap-validator.js' %}"></script>
{% endcompress %}
<!-- ckeditor -->
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script>
$(document).ready(function() {
  $("form").validate({
    ignore: "",
    event: 'blur',
    rules: {
      node: "required",
      title: "required",
      content: {
        required: function (textarea) {
          CKEDITOR.instances[textarea.id].updateElement(); // update textarea
          var editorcontent = textarea.value.replace(/<[^>]*>/gi, ''); // strip tags
          return editorcontent.length === 0;
        }
      }
    }
  });
});
</script>

{% endblock %}