{% extends "base.html" %}
{% load util %}
{% block main-content %}
<div class="row">
  <div class="col-md-9">

    <div id="sections" class="panel panel-default">
      <div class="panel-heading">节点导航</div>
      <div class="panel-body">
        <div class="row node-list">
          {% for section in sections %}
          <div class="node media">
            <label class="media-left">{{ section.name }}</label>
            <span class="nodes media-body">
                  {% for node in section.nodes %}
                  <span class="name"><a title="{{ node.name }}" href="{% url 'topics.node_list' node.id %}">{{ node.name }}</a></span>
                  {% endfor %}
            </span>
          </div>
          {% endfor %}
        </div>
      </div>
    </div><!--#sections-->

    <div class="topics panel panel-default">
      <div class="panel-heading clearfix">
          最新文章
      </div>

      <div class="panel-body">
        {% include "topics/topic_item.html" with topics=topics %}
      </div>

      <div class="panel-footer clearfix">
        {% load paginator %}{% paginator topics %}
      </div>

    </div><!--.topics-->

  </div><!--.col-md-9-->

  <div class="sidebar col-md-3">
  {% include "right_side.html" %}
  </div><!--.sidebar .col-md-3-->

</div><!--.row-->
{% endblock %}