{% extends "base.html" %}
{% load util %}
{% block main-content %}
<div class="row">
  <div class="col-md-9">

    <div id="sections" class="panel panel-default">
      <div class="panel-heading">节点导航</div>
      <div class="panel-body">
        <div class="row node-list">
          {% for section in sections %}
          <div class="node media">
            <label class="media-left">{{ section.name }}</label>
            <span class="nodes media-body">
                  {% for node in section.nodes %}
                  <span class="name"><a title="{{ node.name }}" href="{% url 'topics.node_list' node.id %}">{{ node.name }}</a></span>
                  {% endfor %}
            </span>
          </div>
          {% endfor %}
        </div>
      </div>
    </div><!--#sections-->

    <div class="topics panel panel-default">
      <div class="panel-heading clearfix">
          最新文章
      </div>

      <div class="panel-body">
        {% for item in topics %}
        <div class="topic media">
          <div class="avatar media-left">
            {% if item.avatar %}
            <img class="media-object avatar-48" src="{{ item.avatar }}" alt="">
            {% elif item.user %}
            <img class="media-object avatar-48" src="{{ item.user.avatar }}" alt="">
            {% else %}
            <img class="media-object avatar-48" src="http://jbcdn2.b0.upaiyun.com/2012/02/python-logo.png" alt="">
            {% endif %}
          </div>
          <div class="infos media-body">
            <div class="title media-heading">
              {% if item.url %}
              <a target="_blank" href="{{ item.url }}">{{ item.title }}</a>
              {% else %}
              <a href="{% url 'topics.topic_detail' item.id %}">{{ item.title }}</a>
              {% endif %}
            </div>
            <div class="info">
              {% if item.node %}
              <a class="node" href="/topics/node{{ item.node.id }}">{{ item.node.name }}</a>
              •
              {% endif %}
                {% if item.user %}
                  <span><a href="{% url 'users.user' item.user.name %}">{{ item.user.name }}</a></span>
                {% else %}
                  <span>{{ item.author }}</span>
                {% endif %}
              •
              <span>发布于{{ item.publish_time | readable_datetime}}</span>
            </div>
          </div>
          <div class="count media-right">
            {% if item.replies_count > 0 %}
              <a class="state-false" href="{% url 'topics.topic_detail' item.id %}#reply{{ item.replies_count }}">{{ item.replies_count }}</a>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="panel-footer clearfix">
        {% load paginator %}{% paginator topics %}
      </div>

    </div><!--.topics-->

  </div><!--.col-md-9-->

  <div class="sidebar col-md-3">
  {% include "right_side.html" %}
  </div><!--.sidebar .col-md-3-->

</div><!--.row-->
{% endblock %}