{% extends "base.html" %}
{% load staticfiles %}
{% load compress %}
{% load util %}

{% block title %}
<title>{{ topic.title }}</title>
<meta name="keywords" content="{{ topic.node.name }}" />
<meta name="description" content="{{ topic.node.desc }}" />
{% endblock %}

{% block main-content %}
<div style='margin:0 auto;width:0px;height:0px;overflow:hidden;'>
    {% if topic.avatar %}
    <img class="avatar-wxshare" src="{{ topic.avatar | add:'@1e_1c_0o_0l_400h_400w_90q.src' }}" alt="" width="400" height="400">
    {% elif topic.user %}
    <img class="avatar-wxshare" src="{{ topic.user.avatar }}" alt="">
    {% else %}
    <img class="avatar-wxshare" src="http://jbcdn2.b0.upaiyun.com/2012/02/python-logo.png" alt="">
    {% endif %}
</div>
<div class="row">
  <div class="col-md-9">

    <div class="topic-detail panel panel-default">
      <div class="panel-heading clearfix">
        <div class="media-body">
          <h1 class="media-heading">{{ topic.title }}</h1>
          <div class="info">
            <a class="node" href="{% url 'topics.node_list' topic.node.id %}">{{ topic.node.name }}</a>
             ·
            <a data-author="true" href="{% url 'users.user' topic.user.name %}">{{ topic.user.name }}</a>
             ·
            于 <span>{{ topic.publish_time | readable_datetime }}</span> 发布
            {% if topic.kind == 3 %}
             ·
            <a target="_blank" href="{{ topic.url }}">原文链接</a>
            {% else %}
            <!--
             ·
            <a target="_blank" href="{{ topic.url }}">原文链接</a>
            -->
            {% endif %}
          </div>
        </div>
        <div class="avatar media-right">
          <a href="{% url 'users.user' topic.user.name %}"><img class="media-object avatar-48" src="{{ topic.user.avatar }}" alt=""></a>
        </div>
      </div>

      <div class="panel-body">
        {{ topic.content | safe }}
      </div>

      <div class="panel-footer clearfix">
        {% if topic.user.id == user.id or user.is_admin %}
        <span class="pull-right opts">
          <a class="fa fa-pencil" title="修改本帖" href="{% url 'topics.topic_edit' topic.id %}"></a>
          <a class="fa fa-trash" title="删除本帖" onclick="return confirm('确定要删除这个帖子么？');"  href="{% url 'topics.topic_delete' topic.id %}"></a>
        </span>
        {% endif %}
      </div>

    </div><!--.topic-detail-->

    <div id="replies" class="panel panel-default" data-last-floor="1">
      <div class="total panel-heading">
        共收到 <b>{{ topic.replies_count }}</b> 条回复
      </div>
      <div class="items panel-body">
        {% for item in replies %}
          {% with item.user as reply_user %}
        <div class="reply" id="reply{{ forloop.counter }}">
          <div class="avatar"><a href="{% url 'users.user' reply_user.name %}"><img class="media-object avatar-48" src="{{ reply_user.avatar }}" alt=""></a></div>
          <div class="infos">
            <div class="info">
              <span class="name">
                <a data-name="stone" href="{% url 'users.user' reply_user.name %}">{{ reply_user.name }}</a>
              </span> ·
              <span class="time">
                <a class="reply-floor" href="#reply{{ forloop.counter }}">#{{ forloop.counter }}</a> · <abbr class="timeago" title="{{ item.create_time }}">{{ item.create_time | readable_datetime }}</abbr>
              </span>
              <span class="opts pull-right">
                  {% if reply_user.id == user.id or user.is_admin %}
                  <a class="edit fa fa-pencil" data-uid="2938" title="修改回帖" href="{% url 'topics.reply_edit' topic.id item.id %}"></a>
                  {% endif %}
                  {% if user.is_authenticated %}
                  <a data-floor="1" data-login="stone" title="回复此楼" class="btn-reply fa fa-mail-reply" href="#" onclick="return reply_at_who('{{ forloop.counter }}', '{{ reply_user.name }}')"></a>
                  {% endif %}
              </span>
            </div>
            <div class="contnent">
              {% if item.status == 1 %}
              {{ item.content | safe }}
              {% elif item.status == 2 %}
                <p style="text-decoration:line-through;">该回复已删除</p>
              {% endif %}
            </div>
          </div>
        </div>
          {% endwith %}
        {% endfor %}
      </div>
    </div> <!--#replies-->
    <div id="reply" class="panel panel-default">
      <div class="panel-heading">回帖</div>
      <div class="panel-body">
        {% if user.is_authenticated %}
        <form action="{% url 'topics.reply_add' topic.id %}" method="post" class="simple_form">
          {% csrf_token %}
          <div class="form-group">
            {{ form.content }}
          </div>
          <div class="form-group">
            <input class="btn btn-primary" style="padding-left: 60px;padding-right: 60px;" type="submit" value="提交回复">
          </div>
        </form>
        {% else %}
          <p>
            请先 <a href="/users/signup/">注册</a>
            或者 <a href="/users/signin/">登录</a>
          </p>
        {% endif %}
      </div>
    </div>

  </div><!--.col-md-9-->

  <div class="sidebar col-md-3">
  {% include "topics/topic_side.html" %}
  </div><!--.sidebar .col-md-3-->

</div><!--.row-->
{% endblock %}


{% block footer-js %}
<!-- ckeditor -->
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
{% compress js %}
<!-- jQuery Validation -->
<script src="{% static 'jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'jquery-validation/localization/messages_zh.min.js' %}"></script>
<script src="{% static 'web/js/jquery-bootstrap-validator.js' %}"></script>
<!-- 移动手势 -->
<script src="{% static 'hammer/hammer.min.js' %}"></script>
{% endcompress %}
<script>
$(document).ready(function() {
  $("form").validate({
    ignore: "",
    rules: {
      content: {
        required: function (textarea) {
          CKEDITOR.instances[textarea.id].updateElement(); // update textarea
          var editorcontent = textarea.value.replace(/<[^>]*>/gi, ''); // strip tags
          return editorcontent.length === 0;
        }
      }
    }
  });

  $("form").submit(function (ev) {
    ev.preventDefault();
    var frm = $(this);
    if(! frm.valid()) return false;
    $.ajax({
      type: frm.attr('method'),
      url: frm.attr('action'),
      data: frm.serialize(),
      success: function (data) {
        $("#replies .items").append(data);
        CKEDITOR.instances['id_content'].setData('');
        $("#replies .total b").text(parseInt($("#replies .total b").text()) + 1 )
      }
    });
  });
  $(".btn-move-page").click(function(ev) {
    var $self = $(this);
    ev.preventDefault();
    var type = $self.data("type");
    if(type == "top"){
      $("html, body").animate({ scrollTop: 0 }, 200);
    }else if (type == "bottom"){
      $("html, body").animate({ scrollTop: $(document).height() }, 200);
    }
  });
  $(".btn-focus-reply").click(function(ev) {
    CKEDITOR.instances['id_content'].focus();
  });
  $(".btn-favorite").click(function(ev){
    var $self = $(this);
    ev.preventDefault();
    var topic_id = $self.data("id");
    var is_favorite = $self.hasClass("active");
    if (is_favorite){
      // 已经收藏,取消收藏
      $.post('/topics/'+topic_id+'/unfavorite/', {}, function(data){
          //alert(JSON.stringify(data));
          if(data.ret == 0){
            $self.removeClass("active");
            $self.find("span").text("收藏");
          }
        }, 'json'
    );
    }else{
      // 未关注,发起关注
      $.post('/topics/'+topic_id+'/favorite/', {}, function(data){
          //alert(JSON.stringify(data));
          if(data.ret == 0){
            $self.addClass("active");
            $self.find("span").text("已收藏");
          }
        }, 'json'
      );
      }

  });
});

function reply_at_who(floor, user_name){
        var editor = CKEDITOR.instances['id_content'];
        editor.setData(
             '<a href="#reply' + floor + '" class="at_floor">#' + floor + '楼</a>&nbsp;'
            +'<a href="/users/' + user_name + '/" class="at_user"><i>@</i>' + user_name + '</a> &nbsp;'
        , function(){
              //editor.focus_editor();
            }
        );

        $("html, body").animate({ scrollTop: $('#reply').offset().top }, 200);

        return false;
}

// 移动手势
var myElement = document.getElementsByTagName('body')[0];
var hammertime = new Hammer(myElement);
hammertime.on('swiperight', function(ev) {
  {% if prev_topic %}
    window.location.href = '{% url 'topics.topic_detail' prev_topic.id %}' + '?from_node={{ from_node }}';
  {% endif %}
});
hammertime.on('swipeleft', function(ev) {
  {% if next_topic %}
    window.location.href = '{% url 'topics.topic_detail' next_topic.id %}' + '?from_node={{ from_node }}';
  {% endif %}
});

</script>

{% endblock %}
