<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Python社区</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {% ifequal active_nav "topics" %}class="active"{% endifequal %}><a href="/topics/">文章 <span class="sr-only">(current)</span></a></li>
        <li {% ifequal active_nav "wiki" %}class="active"{% endifequal %}><a href="/wiki/">wiki</a></li>
        <li {% ifequal active_nav "jobs" %}class="active"{% endifequal %}><a href="/jobs/">工作机会</a></li>
        <li {% ifequal active_nav "sites" %}class="active"{% endifequal %}><a href="/sites/">酷站</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
        <li class="notification-count">
          <a href="{% url 'users.notifications' %}" class="{% if user.my_notifications.count %}new{% endif %}" title="通知">
            <i class="fa fa-bell"></i>
            {% if user.my_notifications.count %}
            <span class="count">{{ user.my_notifications.count }}</span>
            {% endif %}
          </a>
        </li>
        <li class="dropdown">
          <a href="/users/{{ user.name }}/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img class="avatar-24" src="{{ user.avatar }}"/>{{ user.name }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/users/{{ user.name }}/">我的主页</a></li>
            <li><a href="/users/edit">个人设置</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/users/signout">退出</a></li>
          </ul>
        </li>
      {% else %}
        <li><a href="/users/signup/">注册</a></li>
        <li><a href="/users/signin/">登录</a></li>
      {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>