{% extends "base.html" %}
{% load staticfiles %}

{% block main-content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">登录</div>
      <div class="panel-body">
        <form class="simple_form " action="" method="post">
          {% csrf_token %}

          <div class="form-group">
            <input class="form-control" placeholder="用户名" type="text" name="name">
          </div>
          <div class="form-group">
          <input class="form-control" placeholder="密码" type="password" name="password" id="id_password">
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="验证码" name="captcha" type="text" style="width: 50%;display: inline-block;margin-right: 10px;" >
            <img class="rucaptcha-image" src="{{ captcha_image }}" alt="Rucaptcha">
            <input type="hidden" name="captcha_key" value="{{ captcha_key }}">
          </div>
          <div class="form-group">
            <input type="submit" name="submit" value="登录" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer-js %}
<!-- jQuery Validation -->
<script src="{% static 'jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'jquery-validation/localization/messages_zh.min.js' %}"></script>
<script src="{% static 'web/js/jquery-bootstrap-validator.js' %}"></script>
<script>
$("form").validate({
  rules: {
    name: "required",
    password: "required",
    captcha: "required"
  }
});
</script>
{% endblock %}