{% extends "users/user_base.html" %}
{% load util %}
{% load paginator %}
{% block user-tabs %}
<div class="panel panel-default profile-tabs-content recent-topics">
  <div class="panel-body">
    <div class="row">
      {% for item in followers %}
        {% with item.from_user as from_user %}
        <div class="col-xs-4" style="min-width: 100px;">
          <div class="media user-card">
            <div class="media-left">
              <a href="{% url 'users.user' from_user.name %}">
                <img class="media-object avatar-48" src="{{ from_user.avatar }}" alt="">
              </a>
            </div>
            <div class="media-body">
              <div class="media-heading"><a href="{% url 'users.user' from_user.name %}">{{ from_user.name }}</a></div>
              {% if visited_user.id == user.id %}
              <div class="infos">
                <div class="item opts">
                  <a data-name="{{ from_user.name }}" class="button-follow-user {% if item.is_followed %}active{% endif %}" href="#">
                    <i class="fa fa-user"></i>
                    <span>{% if item.is_followed %}取消关注{% else %}关注{% endif %}</span>
                  </a>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        {% endwith %}
      {% endfor %}
    </div>
  </div>
  <div class="panel-footer">
  {% load paginator %}{% paginator followers %}
  </div>
</div>
{% endblock %}