{% extends "base.html" %}
{% load staticfiles %}
{% load compress %}
{% load paginator %}

{% block title %}
<title>{{ visited_user.nickname }}</title>
<meta name="keywords" content="Python,Web开发,django,flask,程序员,投资,房产,宅男,美女图片" />
<meta name="description" content="程序员聚集地,程序员感兴趣的话题都在这里" />
{% endblock %}

{% block main-content %}
  <div class="row">
    <div class="sidebar col-md-4" id="sidebar">
      <div class="panel profile panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="avatar media-left">
              <div class="image"><img class="media-object profile-avatar" src="{{ visited_user.avatar }}" alt=""></div>
              <div class="level">
                <span class="label label-info role">
                {% if visited_user.is_admin %}管理员{% else %}会员{% endif %}
                </span>
              </div>
            </div>
            <div class="media-body">
              <div class="item">
                {{ visited_user.name }} ({{ visited_user.nickname }})
            <span class="opts pull-right">
            </span>
              </div>
              <div class="item number">
                第 {{ visited_user.id }} 位会员
              </div>
              <div class="item number">
                <span title="注册日期">{{ visited_user.create_time | date:'Y-m-d' }}</span>

              </div>
              <div class="item counts">
                <span>{{ visited_user.topics.count }}</span> 篇帖子 • <span>{{ visited_user.replies.count }}</span> 条回帖
              </div>
            </div>
          </div>
          <div class="follow-info row">
            <div class="col-sm-4 followers" data-login="yijingping">
              <a class="counter" href="{% url 'users.user_followers' visited_user.name %}">{{ visited_user.my_followers.count }}</a>
              <a class="text" href="{% url 'users.user_followers' visited_user.name %}">关注者</a>
            </div>
            <div class="col-sm-4 following">
              <a class="counter" href="{% url 'users.user_following' visited_user.name %}">{{ visited_user.my_following.count }}</a>
              <a class="text" href="{% url 'users.user_following' visited_user.name %}">正在关注</a>
            </div>
            <div class="col-sm-4 stars">
              <a class="counter" href="{% url 'users.user_favorites' visited_user.name %}">{{ visited_user.my_favorites.count }}</a>
              <a class="text" href="{% url 'users.user_favorites' visited_user.name %}">收藏</a>
            </div>
          </div>
        {% if user.is_authenticated and user.id != visited_user.id %}
          <div class="buttons row">
            <div class="col-sm-12">
              <a class="button-follow-user btn btn-primary btn-block {% if is_followed %}active{% endif %}" data-name="{{ visited_user.name }}" href="#" title="">
                <i class="fa fa-user"></i>
                <span> {% if is_followed %}取消关注{% else %}关注{% endif %}</span></a>
            </div>
          </div>
        {% endif %}
        </div>
      </div>
    </div>


    <div class="col-md-8">
      <ul class="nav nav-tabs">
        <li {% ifequal active_tab "topics" %}class="active"{% endifequal %}><a href="/users/{{ visited_user.name }}/">帖子</a></li>
        <li {% ifequal active_tab "replies" %}class="active"{% endifequal %}><a href="/users/{{ visited_user.name }}/replies">回帖</a></li>
        <li {% ifequal active_tab "favorites" %}class="active"{% endifequal %}><a href="/users/{{ visited_user.name }}/favorites">收藏</a></li>
        <li {% ifequal active_tab "following" %}class="active"{% endifequal %}><a href="/users/{{ visited_user.name }}/following">正在关注</a></li>
        <li {% ifequal active_tab "followers" %}class="active"{% endifequal %}><a href="/users/{{ visited_user.name }}/followers">关注者</a></li></ul>

      {% block user-tabs %}

      {% endblock %}

      </div>
    </div>

  </div>
{% endblock %}
{% block footer-js %}
<script>
$(".button-follow-user").click(function(ev){
    var $self = $(this);
    ev.preventDefault();
    var name = $self.data("name");
    var is_followed = $self.hasClass("active");
    if (is_followed){
      // 已经关注,取消关注
      $.post('/users/'+name+'/unfollow/', {}, function(data){
          //alert(JSON.stringify(data));
          if(data.ret == 0){
            $self.removeClass("active");
            $self.find("span").text("关注");
            /** $(".follow-info .followers .counter").text(
                parseInt($(".follow-info .followers .counter").text()) - 1
            ); */
          }
        }, 'json'
    );
    }else{
      // 未关注,发起关注
      $.post('/users/'+name+'/follow/', {}, function(data){
          //alert(JSON.stringify(data));
          if(data.ret == 0){
            $self.addClass("active");
            $self.find("span").text("取消关注");
            /** $(".follow-info .followers .counter").text(
                parseInt($(".follow-info .followers .counter").text()) + 1
            ); */
          }
        }, 'json'
    );
    }

});
</script>
{% endblock %}
