{% extends "users/user_base.html" %}
{% load util %}
{% load paginator %}
{% block user-tabs %}
<div class="panel panel-default profile-tabs-content recent-topics">
  <div class="panel-body">
    <ul class="list-group">
      {% for item in topics %}
        <li class="list-group-item">
          <div class="title">
            {% if item.status == 1 %}
            <a href="{% url 'topics.topic_detail' item.id  %}">{{ item.title }}</a>
            {% else %}
            <a href="#" style="text-decoration:line-through;">{{ item.title }}</a>
            {% endif %}
          </div>
          <div class="info">
            <span class="node"><a class="node" href="{% url 'topics.node_list' item.node.id %}">{{ item.node.name }}</a></span>
            <span class="counter">{{ item.replies_count }} 条回复</span>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="panel-footer">
  {% load paginator %}{% paginator topics %}
  </div>
</div>
{% endblock %}